Chat2.0/obj/
Chat2.0/bin/
Entities/bin/
Entities/obj/
EntitiesDTO/bin/
EntitiesDTO/obj/
Entity/bin/
Entity/obj/
WCF/bin/
WCF/obj/
ChatDB/obj/
ChatDB/bin/
Chat2.0/App.config
Chat2.0/Properties/Settings.Designer.cs
Chat2.0/Properties/Settings.settings
Entities/App.Config
WCF/App.config
ChatDB/ChatDB.edmx
ChatDB/ChatDB.edmx.diagram